input {
    position: relative;
    background-color: aqua;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
span {
    position: absolute;
    left: 4%;
    top: 2%;
    z-index: 1;
}